<?xml version="1.0" encoding="utf-8" ?>

<menu xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:app="http://schemas.android.com/apk/res-auto"
      xmlns:tools="http://schemas.android.com/tools"
      tools:context=".MainActivity">
  <item android:id="@+id/toBD"
        android:orderInCategory="10"
        android:title="@string/action_settings"
        android:icon="@drawable/twotone_book_black_24"
        app:showAsAction="ifRoom"
        />
  
<item android:id="@+id/toNewItem"
      android:orderInCategory="5"
      android:title="@string/action_NewItem"
      app:showAsAction="ifRoom"
      android:icon="@drawable/twotone_build_black_24"
      
        />

<!--<item android:id="@+id/toHelloItem"
        android:title="@string/action_HelloItem"/>-->

 </menu>

<!-- Code to implement into Activity:

Android.Widget.SearchView searchView;
public override bool OnCreateOptionsMenu(IMenu menu)
{
  this.MenuInflater.Inflate(Resource.Menu.menu, menu);

  var searchItem = menu.FindItem(Resource.Id.action_search);

  searchView = searchItem.ActionProvider.JavaCast<Android.Widget.SearchView>();

  searchView.QueryTextSubmit += (sender, args) =>
  {
    Toast.MakeText(this, "You searched: " + args.Query, ToastLength.Short).Show();

  };


  return base.OnCreateOptionsMenu(menu);
}

-->